apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--vllm-server"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
    ai-services.io/model1: {{ .Values.reranker.model.name }}
    ai-services.io/model2: {{ .Values.embedding.model.name }}
    ai-services.io/model3: {{ .Values.instruct.model.name }}
spec:
  volumes:
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
  containers:
    - name: instruct
      image: "{{ .Values.instruct.image }}"
      args:
      - --model
      - /models/{{ .Values.instruct.model.name }}
      - --served-model-name
      - {{ .Values.instruct.model.name }}
      - --max-num-batched-tokens={{ .Values.instruct.model.maxNumBatchedTokens }}
      - --max-model-len={{ .Values.instruct.model.maxModelLen }}
      - --port=8000
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 12
      env:
      - name: VLLM_CPU_OMP_THREADS_BIND
        value: auto
      - name: VLLM_CPU_KVCACHE_SPACE
        value: "32"
      {{- if .Values.instruct.apiKey }}
      - name: VLLM_API_KEY
        value: "{{ .Values.instruct.apiKey }}"
      {{- end }}
      resources:
        requests:
          memory: "100Gi"
        limits:
          memory: "100Gi"
      ports:
        - containerPort: 8000
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
    - name: embedding
      image: "{{ .Values.embedding.image }}"
      args:
      - --model
      - /models/{{ .Values.embedding.model.name }}
      - --served-model-name
      - {{ .Values.embedding.model.name }}
      - --port=8001
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: OMP_NUM_THREADS
          value: "16"
      resources:
        requests:
          memory: "4Gi"
        limits:
          memory: "4Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
    - name: reranker
      image: "{{ .Values.reranker.image }}"
      args:
      - --model
      - /models/{{ .Values.reranker.model.name }}
      - --served-model-name
      - {{ .Values.reranker.model.name }}
      - --port=8002
      livenessProbe:
        httpGet:
          path: /health
          port: 8002
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: OMP_NUM_THREADS
          value: "8"
      resources:
        requests:
          memory: "5Gi"
        limits:
          memory: "5Gi"
      ports:
        - containerPort: 8002
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
