apiVersion: v1
kind: Secret
metadata:
  name: "watsonx-secret-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
type: Opaque
stringData:
  apiKey: "{{ .Values.watsonxApiKey }}"
