apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--reranker"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
    ai-services.io/model: BAAI/bge-reranker-v2-m3
spec:
  volumes:
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
  containers:
    - name: reranker
      image: "{{ .Values.reranker.image }}"
      args:
      - --model
      - /models/{{ .Values.reranker.model }}
      - --served-model-name
      - {{ .Values.reranker.model }}
      - --port=8002
      livenessProbe:
        httpGet:
          path: /health
          port: 8002
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: OMP_NUM_THREADS
          value: "8"
      resources:
        requests:
          memory: "5Gi"
        limits:
          memory: "5Gi"
      ports:
        - containerPort: 8002
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
