apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--embedding"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
    ai-services.io/model: ibm-granite/granite-embedding-278m-multilingual
spec:
  volumes:
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
  containers:
    - name: embedding
      image: "{{ .Values.embedding.image }}"
      args:
      - --model
      - /models/{{ .Values.embedding.model }}
      - --served-model-name
      - {{ .Values.embedding.model }}
      - --port=8001
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: OMP_NUM_THREADS
          value: "16"
      resources:
        requests:
          memory: "4Gi"
        limits:
          memory: "4Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
